<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.dao.UserDao">

	<select id="selectUser" resultType="com.example.springboot.dto.UserDto">
		SELECT * FROM user 
		WHERE id = #{id}
	</select>
	
	<select id="selectByLastNameAndFirstName" resultType="com.example.springboot.dto.UserDto">
		SELECT * FROM user 
		WHERE 
			last_name = #{lastName}
			AND first_name = #{firstName}
	</select>
	
	<select id="selectByPage" resultType="com.example.springboot.dto.UserDto">
		SELECT * FROM user 
		WHERE 
			last_name = #{filter.lastName}
			AND first_name = #{filter.firstName}			
	</select>
	
	<insert id="insertUser">
		INSERT INTO user
		(
			username,
			password,
			type,
			last_name,
			first_name,
			role_id
		) VALUES (
			#{username},
			#{password},
			#{type},
			#{lastName},
			#{firstName},
			#{roleID}
		)
	</insert>
	
	<insert id="insertUserBatch">
		INSERT INTO user
		(
			username,
			password,
			type,
			last_name,
			first_name,
			role_id
		) VALUES
		<foreach collection="userList" item="user" separator=",">
			(
				#{user.username},
				#{user.password},
				#{user.type},
				#{user.lastName},
				#{user.firstName},
				#{user.roleID}
			)
		</foreach>
	</insert>
</mapper>