<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeHandlers>
		<typeHandler javaType="com.example.springboot.common.EnumType" handler="com.example.springboot.common.mybatis.handler.EnumTypeHandler"/>
	</typeHandlers>
	<plugins>
		<plugin interceptor="com.example.springboot.common.mybatis.interceptor.SqlLogInterceptor">
			<property name="prettyPrint" value="false"/>
		</plugin>
		<plugin interceptor="com.example.springboot.common.mybatis.interceptor.BatchInsertInterceptor">
			<property name="defaultBatchSize" value="20"/>
		</plugin>
	</plugins>
</configuration>